APScheduler==3.6.3
asttokens==2.4.1
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==4.2.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.1
decorator==5.1.1
executing==2.0.1
html5lib==1.1
idna==3.7
ipython==8.17.2
jedi==0.19.1
matplotlib-inline==0.1.6
mechanize==0.4.8
parso==0.8.3
prompt-toolkit==3.0.39
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
python-decouple==3.8
python-telegram-bot==13.15
pytz==2023.3.post1
requests==2.32.2
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tornado==6.4.1
traitlets==5.13.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.2.2
wcwidth==0.2.9
webencodings==0.5.1
